@model IEnumerable<Users_CRUD.Models.User>

@{
    ViewData["Title"] = "All Users";
}
<p>
    <a class="btn btn-primary" asp-action="Create" asp-controller="User">New user</a>
</p>
<table class="table">
    <thead >
        <tr class="bg-tertiary">
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <form asp-action="Delete"
                          asp-controller="User"
                          asp-route-id="@item.Id"
                          method="post"
                          style="display:inline;"
                          onsubmit="return confirm('Do you really want to delete user?');">
                        <button type="submit" class="btn btn-danger">
                            Delete
                        </button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
