@model IEnumerable<Users_CRUD.Models.User>

@{
    ViewData["Title"] = "All Users";
}

<h1>View</h1>

<p>
    <a class="btn btn-primary" asp-action="Create" asp-controller="User">New user</a>
</p>
<table class="table">
    <thead >
        <tr class="bg-tertiary">
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserFullName)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserFullName)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                @* <a class="btn btn-danger" *@
                @* asp-action="Delete" 
                asp-route-id="@item.Id"
                onclick="return confirm('Do you really want to delete that user?');">
                        Delete
                    </a> *@
                    <form asp-action="Delete"
                          asp-controller="User"
                          asp-route-id="@item.Id"
                          method="post"
                          style="display:inline;"
                          onsubmit="return confirm('Do you really want to delete user?');">
                        <button type="submit" class="btn btn-danger">
                            Delete
                        </button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
